* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #3A3A3A;
    color:#f8f8f8;
    font-family: 'Inter', sans-serif;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    padding: 25px;
}

.card {
    display: flex;
    flex-direction: columns;
    align-itens: center;
    border: 3px solid #a8a8b3;
    padding: 15px;
    border-radius: 8px;
    justify-content: space-between;
}
.desc{
    margin: 15px;
}

.fotos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 25px;
}

header {
    margin: 15px;
    align-itens: center;
    justify-content: center;
}

h1{
    text-align: center;
}

h4 {
    display: block;
}

p {
    display: block;
    margin-top: 15px;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
